  /* MAIN */
h2 {
	text-align: center;
}


  /* HEADER */
header {
  max-width: 500px;
  margin: 0 auto;
  
}  


	/* NAV */
nav {
	margin: 0 0 25px 0;
	height: 60px;
	text-align: center;
	background: #0091ce;
	z-index: 700;
}
	nav a:link, nav a:visited {
		color: white;
		text-decoration: none;
	}
	nav a:hover, nav a:active {
		color: white;
		background-color: none;
		text-decoration: none;
	}
	nav ul ul {
		display: none;
	}
	nav ul li:hover > ul {
		display: block;
		z-index: 700;
	}
	nav ul {
		background: #0091ce;
		list-style: none;
		position: relative;
		display: inline-table;
		font-weight: bold;
		z-index: 700;
		padding: 0;
	}
	nav ul:after {
		content: ""; clear: both; display: inherit;
	}
	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
			nav ul li:hover a {
				color: #fff;
			}
	nav ul li a {
		display: block;
		padding: 20px 40px;
		color: white;
		text-decoration: none;
	}
	nav ul ul {
		background: #5f6975;
		border-radius: 0px;
		padding: 0;
		position: absolute;
		top: 100%;
	}
	nav ul ul li {
		float: none;
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}
			nav ul ul li a:hover {
				background: #4b545f;
			}
	nav ul ul ul {
		position: absolute;
		left: 100%;
		top:0;
	}
	
	
	/* MAIN CONTENT */
.who-we-are-p {
	text-align: center;
	font-size: 16px;
}	
	
	
	
	
	/* MAIN PRODUCT PAGE */
.main-product-img-div {
	height: 500px;
}
	.main-product-img {
		width: 80%;
		display: block;
		margin: 0 auto;
	}	
.main-product-header {
	text-align: center;
}
	
	
	
	
	/* EACH PRODUCT PAGE */
.product-info {
	padding: 10px;
	min-height: 575px;
}	
	.product-info-video-games {
		height: 625px;
	}
	.product-img {
		width: 90%;
		display: block;
		margin: 0 auto;
	}
		.product-img-video-games {
			width: 70%;
		}
		.product-img-concert-shirts {
			height: 380px;
		}
	.product-name {
		height: 80px;
	}
		h3 {
			font-size: 22px;
		}
	.product-bullets-ul {
		list-style-type: circle;
		margin: 10px;
		padding: 0;
		height: 100px;
	}
		.product-bullets-li {
			
		}
	.btn-cap {
		background: #0091ce;
		color: white;
	}
		.btn-cap:hover {
			background: #037eb1;
			color: white;
		}
	
	
	
	
	/* NEWS */
.news-div {
	margin-bottom: 20px;
}
	.news-div h3 {
		text-align: center;
	}
	.news-img {
		width: 80%;
		display: block;
		margin: 0 auto;
	}	
	
	
	/* CONTACT US */
.contact-form {
	padding: 10px;
}
	.contact-instructions {
		text-align: center;
	}	
	
	
	/* FOOTER */
footer {
	background: #777;
	text-align: center;
	margin: 10px 0 0 0;
	padding: 10px 0;
}
	footer a:link, footer a:visited {
		color: black;
		text-decoration: none;
	}
	footer a:hover, footer a:active {
		color: white;
		text-decoration: none;
	}
	footer p {
		padding: 10px;
	}
	
	
	
	
	
	/* --------------------------------- MOBILE -------------------------------*/
@media (max-width: 590px) {
	
	/* NAVIGATION */
	nav ul li:hover > ul {
	 	display: none;
 	}
	nav ul li a {
		padding: 20px 10px;
	}
	
	/* MAIN PRODUCT PAGE */
	.main-product-img-div {
		height: 250px;
	}

	
	
}	/* @media (max-width: 590px) */
