<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/products.php">Products</a>
			<ul>
				<li><a href="#">Apparel</a>
					<ul>
						<li><a href="/products/river-ridge.php">RiverRidge Wallets</a></li>
						<li><a href="/products/concert-shirts.php">Concert T-Shirts</a></li>
					</ul>
				</li>
				<li><a href="#">Electronics</a>
					<ul>
						<li><a href="/products/audio-technica.php">AudioTechnica Headphones</a></li>
						<li><a href="/products/ebk.php">EBK Electronics</a></li>
					</ul>
				</li>
				<li><a href="#">Media</a>
					<ul>
						<li><a href="/products/audiobooks.php">Audiobooks</a></li>
						<li><a href="/products/video-games.php">Video Games</a></li>
					</ul>
				</li>
				<li><a href="#">Emergency Prep</a>
					<ul>
						<li><a href="/products/water-tanks.php">StormTanker Water Tanks</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a href="/news.php">News</a></li>
		<li><a href="/contact.php">Contact Us</a></li>
	</ul>
</nav>
